# virtural environment
.envrc
.venv
venv
activate

# python cache
__pycache__
.*cache
build
dist

# build
*.egg-info

# django
db.sqlite3
staticfiles

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
