# Exclude unnecessary Git-tracked files
exclude .gitignore Dockerfile .releaserc* devenv*
prune .github
prune deps
prune tests
# Add additional files to package
graft */nile_quran_community_api/env
graft */nile_quran_community_api/staticfiles
graft */nile_quran_community_api/locale
graft */nile_quran_community_api/apps/v1/*/fixtures
graft */nile_quran_community_api/apps/v1/*/locale
